<p id="notice"><%= notice %></p>

<h1>Lista de Produtos</h1>
<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to 'Adiconar Novo Produto', new_idea_path %></button>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Imágem</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ideas.each do |idea| %>
      <tr>
        <td><%= idea.name %></td>
        <td><%= idea.description %></td>
        <td><%= image_tag idea.picture_url(:thumb) if idea.picture? %></td>
        <td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'Ver', idea %></td></button>
        <td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'Editar', edit_idea_path(idea) %></td></button>
        <td><button type="button" class="btn btn-primary btn-xs"><%= link_to 'Excluir', idea, method: :delete, data: { confirm: 'Você tem certeza de que deseja excluir este comentário permanentemente?' } %></button></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to 'Adiconar Novo Produto', new_idea_path %></button>
